src/main/java/sf/practise/ws/rs/jaxrs/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="adage" type="adage"/>

  <xs:complexType name="adage">
    <xs:sequence>
      <xs:element name="wordCount" type="xs:int"/>
      <xs:element name="words" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

